<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>SUS - Confirmação de Agendamento</title>
    </head>
    <body>
        <p>Olá, <b th:text="${nomePaciente}">Paciente SUS</b>!</p>

        <p>
            Sua consulta agendada está próxima:</br>
            <strong>Data:</strong> <span th:text="${dataAgendamento}">DATA_AGENDAMENTO</span></br>
            <strong>Horário:</strong> <span th:text="${horaAgendamento}">HORA_AGENDAMENTO</span></br>
            <strong>Especialidade:</strong> <span th:text="${especialidade}">ESPECIALIDADE</span>
        </p>

        <p>Por favor, confirme ou cancele sua consulta clicando nos links abaixo:</p>
        <a th:href="@{${urlConfirmar}}">Confirmar</a></br>
        ou</br>
        <a th:href="@{${urlCancelar}}">Cancelar</a>
        <p>Atenciosamente,<br><strong>SUS - Sistema Único de Saúde</strong></p>
    </body>
</html>